appnope
argon2-cffi
async-generator
attrs
backcall
bleach
certifi
cffi
chardet
cycler
decorator
defusedxml
entrypoints
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-pygments
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
ptyprocess
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
requests
retrying
scikit-learn
scipy
seaborn
Send2Trash
six
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
